@import "tailwindcss";

@theme {
  --color-primary: #0090bf;
  --color-secondary: #f89e48;
  --color-primary-200: #4aaaca;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  background: #d4eef73e;
}

.lineGrad {
  background: #0090bf;
  background: linear-gradient(
    360deg,
    rgba(0, 144, 191, 1) 0%,
    #cbeaf5 50%,
    #d4eef73e 100% /* rgba(255, 255, 255, 1) 100% */
  );
}

/* .bg-primary {
  background-color: #0090bf;
}
.bg-primary-200 {
  background-color: #4aaaca;
}
.text-primary {
  color: #0090bf;
}
.bg-secondary {
  background-color: #f89e48;
}
.text-secondary {
  color: #f89e48;
}
.border-primary-200 {
  border-color: #4aaaca;
} */
.card-gradient {
  background: #c7e8f2;
  background: linear-gradient(
    320deg,
    rgba(199, 232, 242, 1) 0%,
    rgba(235, 240, 242, 1) 83%,
    rgba(255, 255, 255, 1) 100%
  );
}
